.DS_Store
*.xcuserstate
*.xcscheme
*.plist


iLibrarians/iLibrarians.xcodeproj/project.xcworkspace/xcuserdata/johnson.xcuserdatad/UserInterfaceState.xcuserstate

iLibrarians/iLibrarians.xcodeproj/project.xcworkspace/xcuserdata/johnson.xcuserdatad/UserInterfaceState.xcuserstate

*.pbxproj
